/* Style de base pour le body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex; /* Utilise flexbox pour le layout principal */
  min-height: 100vh; /* Hauteur minimale pour remplir la fenêtre */
  background-color: #f5f7fd;
}

#dashboard {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav content content"
    "nav content content";
  height: 100vh;
  width: 100%;
  grid-template-rows: 80px 1fr;
  grid-auto-columns: 250px 1fr;
}

nav {
  grid-area: nav;
  background-color: white;
  border-radius: 5px;
}

header {
  grid-area: header;
  margin: 20px;
  background-color: white;
  box-shadow: #ddd 0px 0px 10px 0px;
  border-radius: 5px;
}

main {
  grid-area: content;
  margin: 20px;
  border-radius: 5px;
}

/* Stylisation du tableau pour qu'il soit flexible mais aussi défilable sur petits écrans */
.responsive-table {
  flex: 1 1 auto; /* Permet au tableau de grandir et de rétrécir mais pas de dépasser sa taille naturelle */
  overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
  min-width: 0; /* Réinitialise la largeur minimale pour le défilement sur IE11 */
  border-collapse: collapse; /* Les bordures des cellules sont fusionnées */
  margin-bottom: 1rem; /* Espace après le tableau */
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #ddd; /* Bordure des cellules */
  padding: 8px; /* Espacement interne */
  text-align: left; /* Alignement du texte */
}

.responsive-table th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes */
}

/* Responsive - Ajustements pour les très petits écrans, si nécessaire */
@media screen and (max-width: 600px) {
  .responsive-table {
    overflow-x: auto; /* Permet le défilement horizontal */
    display: block; /* Permet au tableau de défiler horizontalement */
  }
}
